<h1>Create an announcement</h1>

<h4>(Geoloc générée aléatoirement)</h4>

<div class="row">
  <div class="col-md-6">
    <%= simple_form_for @announcement do |f| %>
      <%= f.input :lat, input_html: { step: 0.0001 } %>
      <%= f.input :lng, input_html: { step: 0.0001 } %>
      <%= f.button :submit %>
    <% end %>
    <button class="btn js-changeGeoloc">Update map</button>
  </div>
  <div class="col-md-6">
    <div id="map-canvas"></div>
  </div>
</div>

<script id="js-user-location" data-location='[<%= @announcement.lat %>, <%= @announcement.lng %>]'></script>
