<% if @requested_friendships.any? %>
  <% @requested_friendships.each do |user| %>
    <div class="user">
      <%= image_tag(fake_pp_url(user), :class => 'avatar', width: 64, height: 64, alt: '') %>
      <p>
        <%= link_to user_path(user), :class => 'black' do %>
          <strong><%= user.name %></strong>
        <% end %>
        <br>
        <%= tag_list_links(user.food_list, ' ') %>
        <br>


        <% @inverse_friendships.each do |inverse_friendship| %>
          <% if inverse_friendship.user_id == user.id && inverse_friendship.friend_id == @user.id %>
            <%= link_to user_friendship_path(user_id: user.id, friendship_id: inverse_friendship.id, approved: true), :class => 'btn', method: :patch do %>
              <i class="icon-ok"></i> Accepter
            <% end %>

            <%= link_to user_friendship_path(user_id: user.id, friendship_id: inverse_friendship.id, approved: false), :class => 'btn btn-neutral', method: :patch do %>
              <i class="icon-remove"></i> Ignorer
            <% end %>
          <% end %>
        <% end %>



      </p>
    </div>
  <% end %>
<% else %>
  <p>Pas de nouvelle demande.</p>
<% end %>
