<nav>
  <ul>
    <li>
      <a href="#" class="no-text toggle-notif" title="Notifications">
        <i class="icon-info-sign"></i><!-- <span class="notif">3</span> -->
      </a>
    </li>
    <li <%= class_if_current_page(homepage_url) %>>
      <%= link_to homepage_path do %>
        <i class="icon-home"></i> Accueil
      <% end %>
    </li>
    <li <%= class_if_current_page('') %>>
      <a href="restaurant.html">
        <i class="icon-map-marker"></i>Les restaurants
      </a>
    </li>
    <li <%= class_if_current_page(user_url(current_user)) %>>
      <%= link_to user_path(current_user) do %>
        <i class="icon-user"></i>Mon profil
      <% end %>
    </li>
    <li <%= class_if_current_page('') %>>
      <a href="message.html" class="no-text" title="Mes messages">
        <i class="icon-envelope"></i><!-- <span class="notif">12</span> -->
      </a>
    </li>
    <li>
      <%= link_to destroy_user_session_path, { method: 'delete', :class => 'no-text', title: 'Se déconnecter' } do %>
        <i class="icon-off"></i>
      <% end %>
    </li>
  </ul>
</nav>
