<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meetformeal<%= ' - ' << yield(:title) if content_for?(:title) %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : 'Meetformeal' %>">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <% if user_signed_in? %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <% end %>
    <% unless Rails.application.assets.find_asset("#{controller_name}.css").nil? %>
      <%= stylesheet_link_tag controller_name, media: 'all', 'data-turbolinks-track' => true  %>
    <% end %>

    <%= csrf_meta_tags %>
  </head>
  <body class="<%= "#{controller_name}-#{action_name}" %>">

    <% unless user_signed_in? %>

      <%= yield %>

    <% else %>

      <%= render 'layouts/navigation' %>

      <section id="container">
        <%= yield %>
      </section>

      <%= render 'layouts/footer' %>

      <script type="text/params" id="js-global" data-params='<%= @page_params.to_json.html_safe %>'></script>
      <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3&key=#{ENV['GOOGLE_MAPS_KEY']}&sensor=false".html_safe %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <% unless Rails.application.assets.find_asset("#{controller_name}.js").nil? %>
        <%= javascript_include_tag controller_name, 'data-turbolinks-track' => true %>
      <% end %>

    <% end %>

  </body>
</html>
